.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  height: 72px;
  width: 100%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.avatar {
  --border-width: 4px;
  --outline-width: 2px;
  width: calc(var(--border-width) * 2 + var(--outline-width) * 2 + 3rem);
  height: calc(var(--border-width) * 2 + var(--outline-width) * 2 + 3rem);
  border-radius: 8px;
  border: var(--border-width) solid var(--gray-800);
  outline: var(--outline-width) solid var(--green-500);
}

.footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.footer a {
  background-color: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition:
    color 0.1s,
    background-color 0.1s;
}

.footer a:hover {
  background-color: var(--green-500);
  color: var(--white);
}
