.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorInfo span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solide var(--gray-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  resize: none;
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  height: 6rem;
  color: var(--gray-100);
  margin-top: 1rem;
  line-height: 1.4;
}

.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s background-color;
  color: var(--white);
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type="submit"]:hover {
  background-color: var(--green-300);
}

.author img {
  --border-width: 4px;
  --outline-width: 2px;
  width: calc(var(--border-width) * 2 + var(--outline-width) * 2 + 3rem);
  height: calc(var(--border-width) * 2 + var(--outline-width) * 2 + 3rem);
  border-radius: 8px;
  border: var(--border-width) solid var(--gray-800);
  outline: var(--outline-width) solid var(--green-500);
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
  transition: color 0.1s;
}

.content a:hover {
  color: var(--green-300);
}
